# Python
__pycache__/
*.py[cod]
*$py.class

# Pygame
*.pyc

# IDE
.vscode/
.idea/

# OS
Thumbs.db
.DS_Store

# Build
/build/
/dist/
*.egg-info/

# Environment
.env
.venv/
env/
venv/

#source
levelup.txt